body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #eee;
    width: 100% !important;
    height: 100% !important;
    position: relative;
	background:url("assets/counselors/counselors.jpg") no-repeat center center fixed;
	background-size:cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tb{
  background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
}

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}
	H1 span {
		font-size: 24px;	
	}	
	H2 {
		font-size:18px;
	}
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	H1 span {
		font-size: 32px;	
	}
	H2 {
		font-size:24px;
	}
}
@media only screen and (min-width: 980px) {
    #info .info-column {
        float:left;
    }
    #info .info-content {
        text-align: center;
    }
	H1 span {
		font-size:54px;	
	}
	H2 {
		font-size:36px;
	}
}
/* CARD */
    .card {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        float: left;
        position: relative;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    /* Image Radius (border-radius: top-left top-right bottom-right bottom-left;) */
    .card img {
        border-radius: 5px 5px 0px 0px;
    }

    /* entire container, keeps perspective (Size of card when in rotating state) */
    .card {
        perspective: 1000px;
    }
    /* flip the panel when hovered */
    .card:hover .flipper, .card.hover .flipper {
        transform: rotateY(180deg);
    }

    /* Width and Height of card */
    .card .front, .back {
        width: 240px;
        height: 320px;
    }

    .back {
        top: 0;
        position: absolute;
        height: 318px;
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    /* hide back of panel during swap */
    .front, .back {
        backface-visibility: hidden;

    }

    /* front panel, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden panel */
    .back {
        transform: rotateY(180deg);
    }
/* CARD END */

h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
h4 {
    font-weight: 500;
    color: #fff;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-size: 14px;
    color: #ccc
}
a {
    color: #754747;
}
a:hover, a:focus {
    text-decoration: none;
    color: #F4D03F;
}
ul, ol {
    list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/* Home Section */
#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
	background:url("assets/counselors/counselors.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#intro  H1 {
    color: #f05b22;
    text-shadow: 4px 6px rgba(0,0,0,0.4);
	font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
	
}
#intro .intro-body .intro-text {
    font-size: 18px;
}

#intro .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#intro .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}

/* Parallax Divider Section */
.pDivider {
    padding: 80px 0;
    background: linear-gradient(rgba(0,0,0,1.00),rgba(20,20,20,1),rgba(10,10,10,1));
}
.pDivider .text {
    margin-left: 5px;
    color: #bbb;
}
.pDivider H2 {
    color: rgba(255,255,255,0.8);
}
.pDivider H4 {
    font-size: 20px;
    color: #ccc;
}
.pDivider li {
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
    font-size: 13px;
}
.pDivider .col-md-4 li:before {
    content: "|";
    font-weight: 600;
    padding-right: 8px;
    color: #e75926;
}
.pDivider i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 44px;
    text-shadow: 0 0 1px #666;
}
.pDivider img {
    margin-top: 20px;
}
.pDivider p {
    margin-top: 20px;
}

/* Scholarship CSS */
#scholarship {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#scholarship .body {
    display: table-cell;
    vertical-align: middle;
}
#scholarship .body H1 {
    
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#scholarship H1 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#scholarship .body .text {
    font-size: 18px;
}
#scholarship .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#scholarship .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  	color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}

/* College Lunch Visits CSS */
#lunch {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#lunch .body {
    display: table-cell;
    vertical-align: middle;
}
#lunch .body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#lunch  H1 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#lunch .body .text {
    font-size: 18px;
}

/* Mental Info CSS */
#mental {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#mental .body {
    display: table-cell;
    vertical-align: middle;
}
#mental .body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#mental  H1 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#mental .body .text {
    font-size: 18px;
}
#mental .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
mental .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  	color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}



/* Contact Info CSS */
#contact {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#contact .body {
    display: table-cell;
    vertical-align: middle;
}
#contact H2 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#contact  H1 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#contact .body .text {
    font-size: 38px;
}
#contact p {
	font-size: 18px;	
}
#contact .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#contact .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  	color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}
.contactinfo {
    background-color: rgba(10,10,10,0.7);
    color: #fff;	
}


/*Links*/
#links {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#links .body {
    display: table-cell;
    vertical-align: middle;
}
#links H2 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#links  H1 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
	text-shadow: 0 4px #111;
}
#links .body .text {
    font-size: 18px;
	word-wrap:break-word;
}
#links .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 14px;
    transition: all 0.5s;
}
#links .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  	color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}