body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #eee;
    width: 100% !important;
    height: 100% !important;
    position: relative;
}
.tb{
  background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
}
/* CARD */
    .card {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        float: left;
        position: relative;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

    /* Image Radius (border-radius: top-left top-right bottom-right bottom-left;) */
    .card img {
        border-radius: 5px 5px 0px 0px;
    }

    /* entire container, keeps perspective (Size of card when in rotating state) */
    .card {
        perspective: 1000px;
    }
    /* flip the panel when hovered */
    .card:hover .flipper, .card.hover .flipper {
        transform: rotateY(180deg);
    }

    /* Width and Height of card */
    .card .front, .back {
        width: 240px;
        height: 320px;
    }

    .back {
        top: 0;
        position: absolute;
        height: 318px;
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    /* hide back of panel during swap */
    .front, .back {
        backface-visibility: hidden;

    }

    /* front panel, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden panel */
    .back {
        transform: rotateY(180deg);
    }
/* CARD END */

h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
h4 {
    font-weight: 500;
    color: #fff;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
	color:#D8521E;
	font-size: 30px;
	padding-left: 30px;
	
}

h6 {
	text-transform: uppercase;
	color:#FFFFFF;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	padding-left: 540px
	
	
	
}
	
	
	
p {
    font-size: 14px;
    color: #ccc
}
a {
    color: #754747;
}
a:hover, a:focus {
    text-decoration: none;
    color: #F4D03F;
}
ul, ol {
    list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/* Home Section */
#intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background-color:#040404;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
#intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
#intro .intro-body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#intro .intro-body .styled-heading {
    color: #f05b22;
    text-shadow: 4px 6px rgba(0,0,0,0.4);
}
#intro .intro-body .intro-text {
    font-size: 18px;
}

#intro .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#intro .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}

/* Parallax Divider Section */
.pDivider {
    padding: 80px 0;
    background: linear-gradient(rgba(0,0,0,1.00),rgba(20,20,20,1),rgba(10,10,10,1));
}
.pDivider .text {
    margin-left: 5px;
    color: #bbb;
}
.pDivider H2 {
    color: #f05b22;
}
.pDivider H4 {
    font-size: 20px;
    color: #ccc;
}
.pDivider li {
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
    font-size: 13px;
}
.pDivider .col-md-4 li:before {
    content: "|";
    font-weight: 600;
    padding-right: 8px;
    color: #e75926;
}
.pDivider i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 44px;
    text-shadow: 0 0 1px #666;
}
.pDivider img {
    margin-top: 20px;
}
.pDivider p {
    margin-top: 20px;
}

/* Scholarship CSS */
#scholarship {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #040404;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#scholarship .body {
    display: table-cell;
    vertical-align: middle;
}
#scholarship .body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#scholarship .body .styled-heading {
    color: #f05b22;
    text-shadow: 0 4px #111;
}
#scholarship .body .text {
    font-size: 18px;
}
#scholarship .btn-default {
    border: 2px solid #222;
    color: #eee;
    background: rgba(0,0,0,0.8);
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 18px;
    transition: all 0.5s;
}
#scholarship .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
    background: rgba(0,0,0,.4);
    border: 2px solid #f05b22;
}

/* College Lunch Visits CSS */
#lunch {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("assets/home/pressbox.jpg") no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#lunch .body {
    display: table-cell;
    vertical-align: middle;
}
#lunch .body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#lunch .body .styled-heading {
    color: #333;
    text-shadow: 0 4px #111;
}
#lunch .body .text {
    font-size: 18px;
}

/* Mental Info CSS */
#mental {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("assets/home/bell.JPG") no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#mental .body {
    display: table-cell;
    vertical-align: middle;
}
#mental .body H1 {
    font-size: 76px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
}
#mental .body .styled-heading {
    color: #333;
    text-shadow: 0 4px #111;
}
#mental .body .text {
    font-size: 18px;
}

/* Contact Info CSS */
#contact {
    padding: 40px 0;
    background: #111;
}
#contact .text {
    margin-left: 5px;
    color: #bbb;
}
#contact H3 {
    color: #ccc;
    font-size: 20px;
}
#contact H4 {
    font-size: 15px;
    color: #ccc;
}
#contact li {
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
    font-size: 13px;
}
#contact .col-md-4 li:before {
    content: "|";
    font-weight: 600;
    padding-right: 8px;
    color: #e75926;
}
#contact i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 44px;
    text-shadow: 0 0 1px #666;
}
#contact img {
    margin-top: 20px;
}
#contact p {
    margin-top: 20px;
}



#And {
	
	float: left;
	width: 25%;
	
}


#Vid  {
	
	float: left;
	width: 50%;
	
	
}



/* Hamblin */ 
    #Hamm {
       
		float: left;
		width: 25%;
        
    }





body {
    background:#000000;
}

.clearfix:after {
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

.menu {
    width:1000px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}

.menu a {
    transition:all linear 0.15s;
    color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}



